@import './variables.scss';

.about-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .content-container {
    text-align: left;
    font-family: $simple;

    h1 {
      min-height: 1em;
      padding-top: 0.5em;
      text-transform: uppercase;
      // padding-left: 1em;
      // -webkit-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
      // -moz-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
      // box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
    }

    .text {
      margin-bottom: 2em;
      padding: 1em 1em;
      min-height: 12em;
      -webkit-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);

      .label {
        padding-top: 1em;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
      }

      .about {
        width: 90%;
      }
    }

    .image {
      text-align: center;
    }

    img {
      max-width: 30em;
      height: auto;
      -webkit-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
    }

    &.her {
      margin-right: 5%;
    }

    &.him {
    }
  }
}

@media (max-width: 680px) {
  .about-us-container {
    display: flex;
    flex-direction: column;

    .content-container {
      padding-top: 1em;

      .text {
        border-bottom: 2px solid $green;
        margin-bottom: 1em;

        .label {
          padding: 0.5em 0;
        }

        .about {
          padding-bottom: 1em;
          width: 100%;
        }
      }

      &.her {
        padding: 0;

        .image {
          margin: 0;
          margin-top: 2em;
          min-height: 15em;
          background-position: left;
        }
      }

      &.him {
        .image {
          margin: 0;
          min-height: 15em;
          background-position: left;
        }
      }
    }
  }
}

@media (max-width: 960px) and (min-width: 680px) {
  .about-us-container {
    .content-container {

      .text {
        .label {
          padding: 0.5em 0;
        }
      }

      &.her {
        .image {
          min-height: 15em;
        }
      }

      &.him {
        .image {
          min-height: 15em;
        }
      }
    }
  }
}
