@import './variables.scss';

html {
  background-color: $grey;
}

.app {
  height: 100vh;
  background: url('../assets/photo33.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
