@import './variables.scss';

html {
}

.app {
  height: 100vh;
  background: url('../assets/photo33.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $simple;

  .element {
    min-height: 100vh;
    display: flex;
    align-items: center;

    &.about-us {
      .about-us-content-wrapper {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 8em;
      }
    }

    &.wedding-details {
      background-color: $jade;

      .wedding-details-content-wrapper {
        width: 90%;
        margin: 5em auto;
        padding-bottom: 8em;
      }
    }

    &.registry {
      background-color: $jade;
    }
  }
}
