@import './variables.scss';

html {
}

.app {
  font-family: $simple;

  .element {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    &.about-us {
      .about-us-content-wrapper {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 8em;

        .text {
          margin: 2em auto;
          width: 90%;
          padding: 1em;
          -webkit-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
        }

        .divider {
          width: 95%;
          margin: 4em auto;
          border-bottom: 3px solid $green;
        }
      }
    }

    &.wedding-details {
      background-color: $jade;

      .wedding-details-content-wrapper {
        width: 90%;
        max-width: 1500px; // Prevent collapse on screens that are super wide!
        margin: 6em auto;
      }
    }

    &.weather {
      min-height: 10vh;
    }

    &.rsvp {
      margin: 0 auto;
      text-align: center;

      .divider {
        height: 100%;
        min-height: 30em;
        border: 3px solid $green;
      }
    }

    &.registry {
      background-color: $jade;
    }
  }
}

@media only screen and (max-width: 568px) {
  .app {
    .element {
      display: block;

      &.wedding-details {
        .wedding-details-content-wrapper {
          margin: 1em auto;
          width: 95%;

          .details-container {
            padding-bottom: 3em;
            margin-bottom: 1em;
            border-bottom: 3px solid white;
            text-align: center;

            &:last-child {
              border-bottom: none;
              padding: 0;
            }

            .text-container {
              display: block;
              width: 100%;
              padding: 0;
            }

            .image {
              display: block;
              width: 90%;
            }
          }
        }
      }

      &.rsvp {
        .rsvp-container {
          margin: 5em auto;
        }

        .divider {
          margin: 0 auto;
          width: 90%;
          min-height: 0;
          border: 3px solid $green;
        }

        .registry-container {
          margin: 5em auto;
        }
      }
    }
  }
}