@import './variables.scss';

.banner-image {
  height: 100vh;
  position: relative;

  &.home {
    background: url('../assets/photo33.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content-wrapper {
    position: absolute;
    right: 5%;
    top: 20%;

    .names {
      font-family: $cursive;
      font-size: 5em;
      color: white;
    }

    .counter {
      color: white;
      font-family: $blocky;
      text-align: right;

      .counter-item {
        display: inline-block;
        width: 3em;
        font-size: 1.25em;
        text-align: center;
      }
    }

    .wedding-date {
      margin-top: 1em;
      padding-right: 0.5em;
      color: white;
      font-family: $blocky;
      font-size: 1.15em;
      text-align: right;
    }
  }
}

@media (max-width: 680px) {
  .banner-image {
    .content-wrapper {
      margin: 0 auto;
      text-align: center;
      padding: 0;
      padding-top: 3em;

      .names {
        padding: 0.5em 0;
        font-size: 4em;
      }
    }
  }
}
