// // Colors
// $jade: #089F96;
// $green: #0E5755;
// $grey: #D7D9D9;
// $blue: #122542;
// $indigo: #121229;

// Colors v2
$jade: #12a57e;
$green: #1c6d4f;
$grey: #d7d9d9;
$indigo: #004b5e;
$light: #fff9d1;
$lightest: #ffffff;

// Fonts
$cursive: 'Pacifico';
$blocky: 'Work Sans';
$simple: 'Lato';
