@import './variables.scss';

.weather-icon-content-wrapper {
  width: 100%;
  font-size: 1.2em;

  .weather-info-container {
    width: 100%;
    min-height: 3em;
    line-height: 3em;
    background-color: $green;
    color: white;
    text-align: center;
    font-family: $blocky;

    .summary {
      font-size: 0.9em;
    }
  }
}

@media only screen and (max-width: 568px) {
  .weather-icon-content-wrapper {
    width: 100%;
    margin: 2em auto;
  }
}