@import './variables.scss';

.details-container {
  display: table;
  width: 100%;
  margin-bottom: 4em;
  padding-bottom: 2em;
  border-bottom: 3px solid white;
  font-family: $simple;
  color: white;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .text-container {
    display: table-cell;
    padding-right: 5em;
    vertical-align: middle;
  }

  .image {
    margin: 0 auto;
    width: 40%;
    display: table-cell;
    vertical-align: middle;
  }

  &.wedding {
  }

  &.rehearsal {
    .text-container {
      padding-left: 5em;
      padding-right: 0;
    }
  }

  &.activities {
    .text-container {
      h1 {
        margin: 0;
      }

      .location {
        font-size: 0.9em;
        padding-top: 0.5em;
      }
    }
  }

  &.accomodation {
    .text-container {
      padding-left: 5em;
      padding-right: 0;

      h1 {
        margin: 0;
      }

      .location {
        font-size: 0.9em;
        padding-top: 0.5em;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.25);
  }

  .location {
    font-size: 1.15em;

    a {
      font-size: .85em;
      text-decoration: none;
      color: $green;
    }

    a:visited {
      text-decoration: none;
      decoration: none;
      color: $green;
    }
  }

  .address {
    padding-top: 0.5em;
    font-size: 1em;
    color: white;
  }

  .timeline-list {
    padding-left: 0;
    list-style: none;

    li {
      font-size: 1em;
      padding-top: 1em;
      padding-bottom: 0.5em;
      border-bottom: 1px dotted white;
      color: white;
    }
  }
}

@media only screen and (max-width: 568px) {
  .app {
    .element.wedding-details {
      .wedding-details-content-wrapper {
        .details-container {

        }
      }
    }
  }
}

@media (max-width: 960px) and (min-width: 680px) {
}
