@import './variables.scss';

.details-container {
  display: inline-block;
  width: 30em;
  font-family: $simple;
  color: white;

  &.wedding {

  }

  &.rehearsal {
    float: right;
  }

  h1 {
    font-family: $simple;
  }

  .location {
    font-size: 1.15em;

    a {
      font-size: .85em;
      text-decoration: none;
      color: $green;
    }

    a:visited {
      text-decoration: none;
      decoration: none;
      color: $green;
    }
  }

  .address {
    padding-top: 0.5em;
    font-size: 1em;
    color: white;
  }

  .timeline-list {
    padding-left: 0;
    list-style: none;

    li {
      font-size: 1em;
      padding-top: 1em;
      padding-bottom: 0.5em;
      border-bottom: 1px dotted white;
      color: white;
    }
  }
}

@media (max-width: 680px) {
}

@media (max-width: 960px) and (min-width: 680px) {
}
