@import './shared.scss';

.app {
  background-color: black;
  // text-align: center;

  .app-header {
    width: 100%;
    background-color: green;

    .header-menu {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 100%;
      min-height: 5em;
      text-align: center;

      .menu-item {
        display: inline-block;
        font-size: 0.9em;
        padding: 1em 0;

        .header-text {
          font-size: 2.5em;
          border: none;
          background: transparent;
          color: white;
          cursor: pointer;
          outline: none;

          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .app {
    .app-header {
      height: 100%;
      width: 100%;

      .header-menu {
        display: block;
        width: 100%;
        text-align: center;

        .image.islands {
          display: none;
        }

        .image.heart {
          display: none;
        }

        .menu-item {
          display: block;
          min-height: 4em;
          border-top: 1px solid white;

          &:hover {
            background-color: white;

            .header-text {
              color: green;
            }
          }
        }

        .menu-item:last-child {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
